<div class="container">
  <div class="form-group">
    <label class="h2" for="query">Search in catalog by name</label>
    <input id="query" type="text" class="form-control" [(ngModel)]="query" (keyup.enter)="loadProducts()">
  </div>
  <button type="button" (click)="loadProducts()" class="form-control btn btn-primary mb-3">Search</button>
  <button type="button" (click)="exportToExcel()" class="form-control btn btn-success mb-3">Export to Excel</button>
  <hr>
  <div class="row">
    <p *ngIf="!(productsQuery$ | async)"><em>Loading...</em></p>
    <p>
      <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New product</a>
    </p>
  </div>
  <div class="row" *ngIf="(productsQuery$ | async)?.items?.length>0">
    <app-catalog-product *ngFor="let product of (productsQuery$ | async)?.items" [product]="product"
      (onDelete)="onProductDeleted($event)" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
    </app-catalog-product>
  </div>
</div>




<!-- 



<h1>Products catalog</h1>

<p *ngIf="!(productsQuery$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New product</a>
</p>

<table class="table table-sm table-hover" *ngIf="(productsQuery$ | async)?.items?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Photo</th>
      <th>Last updated</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of (productsQuery$ | async)?.items">
      <td>{{ product.id }}</td>
      <td><a [routerLink]="['/detail/', product.id]">{{ product.name }}</a></td>
      <td>{{ product.price }}</td>
      <td><img width="50" height="70" [src]="environmnet.apiUrl + '/' + product.photo" alt="Product photo"></td>
      <td>{{ product.lastUpdated | date: "dd/MM/yyyy HH:mm:ss" }}</td>
      <td><a [routerLink]="['/edit/', product.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(product.id)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table> -->
